---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: ((corporate-harbor-registry))/((docker-hub-organization))/scs-starters-ci
    username: ((corporate-harbor-robot-account.username))
    password: ((corporate-harbor-robot-account.password))
    tag: jdk-17
inputs:
  - name: git-repo
outputs:
  - name: stage-git-repo
  - name: distribution-repository
params:
  RELEASE_TYPE:
  USER_NAME: ((git-username))
  USER_EMAIL: ((git-email))
caches:
  - path: maven
  - path: gradle
run:
  path: git-repo/ci/scripts/stage.sh
